body {
  // font-family: 'Open Sans', sans-serif;
  @include fontRoboto;
  font-size: $fontSize;
  color: $colorBlue;
  // background-color: $colorBlue;
}

.c {
  &-wrap {
    max-width: $maxWidth;
    margin: 0 auto;
    padding: 0 30px;
  }

  &-flex {
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    gap: 20px;
    & > * {
      width: calc((100% / 3) - 20px);
    }

    &--center {
      justify-content: center;
    }

    &--spaceBetween {
      justify-content: space-between;
    }
  }
}

.d {
  &-none {
    display: none;
  }
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: rgba(29, 29, 29, 0.4);
  backdrop-filter: blur(2px);
}

.form {
  @include boxShadow(8px);
  position: fixed;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  background-color: rgb(255, 255, 255);
  border: 1px solid $colorBlue;
  width: 60vw;
  height: 70vw;
  transform: translate(-50%, -50%);
}

.car {
  min-height: 150px;
  border-radius: 5px;
  border: 1px solid $colorBlue;
  padding: 20px;
  @include boxShadow(8px);
  &-name {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: $smallScreen) {
  .c {
    &-flex {
      display: flex;
      flex-wrap: wrap;

      align-items: center;
      gap: 20px 0;
      & > * {
        width: 100%;
      }
    }
  }
}
