body {
  // font-family: 'Open Sans', sans-serif;
  @include fontRoboto;
  font-size: $fontSize;
  color: $colorBlue;
  // background-color: $colorBlue;
}

header {
  // height: 350px;
  color: $colorWhite;
  background: rgb(19, 60, 172);
  background: linear-gradient(
    90deg,
    rgba(19, 60, 172, 1) 0%,
    rgba(43, 147, 255, 1) 100%
  );
}

.header {
  &-title {
    margin: 20px 0;
    font-size: 4rem;
  }

  &-container {
    padding: 30px !important;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    align-content: center;
    & > * {
      width: 50%;
    }
  }
}

footer {
  background-color: $colorDarkBlue;
  color: $colorWhite;
  padding: 50px;
  text-align: center;
  width: 100%;
  margin-top: 50px;
}
.footer {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 1rem;
  &-title {
    margin: 10px 0;
    font-weight: bold;
    font-size: 1.25rem;
  }
  & > * {
    width: calc(100% / 3);
  }
}
/* Stylowanie linków w stopce */
footer a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}
footer a:hover {
  color: #ffc107; /* Zmiana koloru na żółty po najechaniu myszką */
}

.pb-20 {
  padding-bottom: 20px;
}

.mt-50 {
  margin-top: 50px;
}

.text-center {
  text-align: center;
}

.header {
  font-size: 2rem;
  font-weight: bold;
  margin: 10px 0 20px 0;
}

#sumExtra {
  margin: 30px 0;
}

#filter,
#deliveryDate {
  @include boxShadow;
  width: 100%;
  padding: 10px;
  margin: 20px 0;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.input {
  @include boxShadow;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
}

.extra {
  @include boxShadow;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
  margin: 15px 0;
  transition: all 0.2s ease;
  &:hover {
    cursor: pointer;
  }
  &-pick {
    background-color: $colorOrange;
    color: $colorWhite;
  }
}

.c-paggination {
  text-align: center;
  margin: 20px 0;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.fade-in {
  animation: fadeIn 0.5s;
}

.bold {
  font-weight: bold;
}

.c {
  display: flex;
  &-wrap {
    max-width: $maxWidth;
    margin: 0 auto;
    padding: 0 30px;
  }

  &-flex {
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    gap: 20px;
    & > * {
      width: calc((100% / 3) - 20px);
    }

    &--center {
      justify-content: center;
      align-items: center;
    }

    &--spaceBetween {
      justify-content: space-between;
    }
  }
}

.d {
  &-none {
    display: none;
  }
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: rgba(29, 29, 29, 0.4);
  backdrop-filter: blur(2px);
}

#close {
  position: fixed;
  right: 10px;
  top: 10px;
}

.close {
  cursor: pointer;
  &-bottom {
    text-align: center;
    font-size: 0.9rem;
    transition: all 0.2s ease;

    &:hover {
      color: $colorRed;
    }
  }
}

.btn {
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  @include boxShadow;

  &-close {
    border-radius: 20px;
    padding: 20px;

    width: 20px;
    height: 20px;
    color: #fff;
    background-color: $colorRed;
    transition: all 0.2s ease;
    &:hover {
      filter: brightness(150%);
    }
  }
  &-buy {
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    background-color: $colorGreen;
    transition: all 0.2s ease;
    &:hover {
      filter: brightness(120%);
    }
  }
  &-send {
    text-align: center;
    background-color: $colorGreen;
    color: #fff;
    border: none;
    transition: all 0.2s ease;
    &:hover {
      filter: brightness(120%);
    }
  }
}

.form {
  @include boxShadow;
  padding: 20px 40px;
  overflow-y: auto;
  position: fixed;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  background-color: rgb(255, 255, 255);
  // border: 1px solid $colorBlue;
  width: 60vw;
  max-width: 1200px;
  height: 90vh;
  transform: translate(-50%, -50%);
  scrollbar-width: 10px;
  scrollbar-color: $colorGreen;
  &-section {
    margin: 50px 0;
  }
  &-flex {
    display: flex;
    align-items: center;
    & > * {
      width: 50%;
    }
  }
  /* width */
  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    // box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $colorGreen;
    border-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
  }
}

.car {
  min-height: 150px;
  border-radius: 5px;
  // border: 1px solid $colorBlue;
  padding: 20px;
  @include boxShadow;
  &-name {
    font-size: 1.5rem;
  }
  &-img {
    // margin-bottom: 20px;
    border-radius: 5px;
  }
}

@media screen and (max-width: $mediumScreen) {
  .c {
    &-flex {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 20px;
      & > * {
        width: calc(50% - 10px);
      }
    }
  }

  .footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1rem;
    & > * {
      width: 100%;
    }
  }

  .header {
    &-container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      height: 100%;
      align-content: center;
      text-align: center;
      & > * {
        width: 100%;
        &:last-child {
          order: -1;
        }
      }
    }
  }

  .form {
    width: 90vw;
    height: 90vh;
  }
}

@media screen and (max-width: $smallScreen) {
  .c {
    &-flex {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 20px 0;
      & > * {
        width: 100%;
      }
    }
  }

  .footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1rem;
    & > * {
      width: 100%;
    }
  }

  .header {
    &-title {
      margin: 20px 0;
      font-size: 4rem;
    }

    &-container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      height: 100%;
      align-content: center;
      text-align: center;
      & > * {
        width: 100%;
      }
    }
  }

  .form {
    width: 90vw;
    height: 90vh;
    &-flex {
      display: flex;
      flex-wrap: wrap;
      & > * {
        width: 100%;
        &:last-child {
          order: -1;
        }
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
