body {
  // font-family: 'Open Sans', sans-serif;
  @include fontRoboto;
  font-size: $fontSize;
  color: $colorBlue;
  // background-color: $colorBlue;
}

.c {
  &-wrap {
    max-width: $maxWidth;
    margin: 0 auto;
    padding: 0 30px;
  }

  &-flex {
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    gap: 20px;
    & > * {
      width: calc((100% / 3) - 20px);
    }

    &--center {
      justify-content: center;
    }

    &--spaceBetween {
      justify-content: space-between;
    }
  }
}

.car {
  min-height: 150px;
  border-radius: 5px;
  border: 1px solid $colorBlue;
  padding: 20px;
  @include boxShadow(8px);
  &-name {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: $smallScreen) {
  .c {
    &-flex {
      display: flex;
      flex-wrap: wrap;

      align-items: center;
      gap: 20px 0;
      & > * {
        width: 100%;
      }
    }
  }
}
